:root {
	--primary-color: #7b24eb;
	--secondary-color: #ae78f5;
	--tertiary-color: #c9afff;
	--primary-background-color: #00000080;
	--secondary-background-color: #1d1d1d;
	--tertiary-background-color: #252525;
	--primary-light-text-color: #ffffff;
	--secondary-light-text-color: #f2e9ff;
	--disabled-light-text-color: #a2a2a2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ,url(images/body-background.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	display: flex;
}

.avatar {
	width: 45px;
	height: 45px;
	border-radius: 100px;
	cursor: pointer;
	position: fixed;
	top: 25px;
	left: 25px;
	z-index: 10;
}

.avatar:hover {
	outline: 1px solid var(--primary-color);
}

/* Shared selector styling section start */

.todoSection {
	height: 100%;
	padding: 30px 95px 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.todoList {
	flex: 1;
	overflow-y: scroll;
	list-style-type: none;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.todoList::-webkit-scrollbar {
	width: 5px;
}

.todoList::-webkit-scrollbar-track {
	background: transparent;
}

.todoList::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
	border-radius: 5px;
}

.todoList li {
	flex: 0 0 auto;
	width: 700px;
	height: 70px;
	background-color: var(--primary-background-color);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 10px;
	padding: 0 25px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todoList li:hover:has(input:not(:checked)) {
	background-color: rgba(88, 88, 88, 0.5);
	box-shadow: 0 0 5px var(--primary-background-color);
}

.todoList li:hover:has(input:checked) {
	outline: 1px solid var(--tertiary-color);
	transition: outline 100ms ease-in-out;
}

.left {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	align-items: center;
	column-gap: 18px;
	row-gap: 2px;
}

.left input {
	grid-area: 1 / 1 / 3 / 2;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid var(--tertiary-color);
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}

.left input::after {
	content: "✔";
	width: 0%;
	height: 0%;
	background-color: var(--tertiary-color);
	color: var(--primary-light-text-color);
	font-size: 0;
	text-align: center;
	border-radius: 10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 500ms ease-in-out;
}

.left input:checked::after {
	width: 100%;
	height: 100%;
	font-size: 14px;
	opacity: 1;
}

.left input:checked + .todoText,
.left input:checked + .todoText + .todoDate {
	color: var(--tertiary-color);
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

.todoText {
	grid-area: 1 / 2 / 2 / 3;
	color: var(--primary-light-text-color);
	font-family: "DM Sans";
	font-weight: 500;
	font-size: 18px;
}

.todoDate {
	grid-area: 2 / 2 / 3 / 3;
	color: var(--secondary-light-text-color);
	font-family: "DM Sans";
	font-style: italic;
	font-weight: 500;
	font-size: 12px;
}

.right {
	display: flex;
	gap: 15px;
}

li i {
	color: var(--tertiary-color);
	font-size: 22px;
	margin-top: 2px;
}

.bi-pen {
	opacity: 0;
	font-size: 20px;
	transition: all 300ms ease-in-out;
}

li:hover .bi-pen {
	opacity: 1;
}

.addTaskBtn {
	width: 200px;
	height: 50px;
	background-color: var(--primary-background-color);
	color: var(--primary-light-text-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 50px;
	cursor: pointer;
	font-family: "DM Sans";
	font-weight: 500;
	font-size: 16px;
	transition: all 200ms ease-in-out;
}

.addTaskBtn:hover {
	border: 1px solid var(--primary-color);
	box-shadow: 0 0 10px var(--primary-color);
}

.sectionInfo {
	width: 250px;
	height: 50px;
	background-color: var(--secondary-background-color);
	color: var(--tertiary-color);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.sectionInfo i {
	font-size: 24px;
	border-left: 2px solid var(--secondary-color);
	padding-left: 10px;
}

.sectionInfo p {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 20px;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover, 
input[type="text"]:-webkit-autofill:focus, 
input[type="text"]:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--secondary-background-color) inset !important;
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--secondary-light-text-color) !important;
}

/* Shared selector styling section end */

/* Sidebar styling section start */

.sidebar {
	width: 95px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 30px 0 20px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	opacity: 0;
	user-select: none;
	transition: all 150ms ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.sidebar:hover,
.avatar:hover + .sidebar {
	opacity: 1;
	width: 260px;
	transition-delay: 400ms;
}

.sidebar:not(:hover) {
	transition-delay: 400ms;
}

.userInfo {
	margin-left: 42px;
}

.userName {
	color: var(--secondary-light-text-color);
	font-family: "DM Sans";
	font-weight: 700;
	font-size: 16px;
}

.userProfession {
	color: var(--tertiary-color);
	font-family: "DM Sans";
	font-weight: 400;
	font-size: 14px;
}

.sidebarNav {
	width: 100%;
	color: var(--tertiary-color);
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.nav {
	width: fit-content;
	cursor: pointer;
	display: flex;
	gap: 14px;
	transition: all 200ms ease-in-out;
}

.nav.active {
	color: var(--primary-color);
}

.nav.active:hover {
	color: var(--primary-color);
}

.nav:hover {
	color: var(--secondary-color);
}

.nav i {
	font-size: 18px;
}

.nav p {
	font-family: "DM Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
}

/* Sidebar styling section end */

/* Main styling section start */

.main {
	flex: 1;
	position: relative;
}

/* Today section styling start */

.greetingContainer {
	margin-bottom: 10px;
	text-align: center;
}

.greeting {
	color: var(--secondary-light-text-color);
	font-family: "Poppins";
	font-weight: 700;
	font-size: 34px;
	line-height: 140%;
	letter-spacing: 0.2px;
}

.ask {
	color: var(--tertiary-color);
	font-family: "Poppins";
	font-weight: 700;
	font-size: 34px;
	line-height: 110%;
	letter-spacing: 0.2px;
}

/* Today section styling end */

/* All tasks section styling start */

.allTasksSection {
	display: none;
}

/* All tasks section styling end */

/* Important tasks section styling start */

.importantTasksSection {
	display: none;
}

/* Important tasks section styling end */

/* Completed tasks section styling start */

.completedTasksSection {
	display: none;
}

.deleteAllTasksBtn {
	width: 60px;
	height: 60px;
	background-color: var(--primary-background-color);
	color: var(--primary-light-text-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 10px;
	cursor: pointer;
	font-size: 24px;
}

.deleteAllTasksBtn:hover {
	border: 1px solid var(--primary-color);
	box-shadow: 0 0 10px var(--primary-color);
}

/* Completed tasks section styling end */

/* Dialog styling section start */

dialog {
	width: 570px;
	height: fit-content;
	background-color: var(--secondary-background-color);
	color: var(--secondary-light-text-color);
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	padding: 30px 25px 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: dialogSlideDown 300ms ease-in;
}

dialog[open]::backdrop {
	animation: backdropFadeIn 300ms ease-in forwards;
}

dialog form {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.dialogTitle {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 0.2px;
}

.dialogSection {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.dialogSection label,
.dialogSection p {
	color: var(--disabled-light-text-color);
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
}

.dialogSection #task {
	background-color: transparent;
	color: var(--secondary-light-text-color);
	border: none;
	outline: none;
	font-family: "DM Sans";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.2px;
}

.choosePriority {
	display: flex;
	gap: 20px;
}

.choosePriority label {
	width: 100px;
	height: 40px;
	background-color: var(--tertiary-background-color);
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	transition: all 200ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choosePriority label:hover:has(input[type="radio"]:not(:checked)) {
	background-color: rgba(88, 88, 88, 0.5);
}

.choosePriority label:has(input[type="radio"]:checked) {
	background-color: transparent;
	outline: 1px solid var(--tertiary-color);
}

.choosePriority input[type="radio"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.priorityText {
	font-family: "DM Sans";
	font-weight: 400;
	font-size: 13px;
	z-index: 10;
}

#date,
#notes {
	background-color: transparent;
	color: var(--secondary-light-text-color);
	border: none;
	outline: none;
	font-family: "DM Sans";
	font-weight: 500;
	font-size: 16px;
}

.dialogBtnContainer {
	display: flex;
	gap: 20px;
}

.dialogBtnContainer button {
	width: 150px;
	height: 40px;
	background-color: transparent;
	color: var(--secondary-light-text-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 20px;
	font-family: "DM Sans";
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.dialogBtnContainer button:hover {
	background-color: rgba(88, 88, 88, 0.5);
}

/* Dialog styling section end */

/* Main styling section end */


/* Keyframes section start */

@keyframes dialogSlideDown {
	from {
		top: 40%;
		opacity: 0;
	} to {
		top: 50%;
		opacity: 1;
	}
}

@keyframes backdropFadeIn {
	from {
		background-color: transparent;
		backdrop-filter: blur(0);
		-webkit-backdrop-filter: blur(0);
	} to {
		background-color: var(--primary-background-color);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
}

/* Keyframes section end */